body {
    height: 100%;
    background: whitesmoke;
    background: linear-gradient(to right, white, #b4b4b4);
}

.bg-smoke {
    background: whitesmoke;
}

.floating-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 5%;
}